allow recovery anr_data_file:dir { getattr };
allow recovery app_data_file:dir { getattr  open  read  search };
allow recovery app_data_file:file { getattr };
allow recovery app_data_file:lnk_file { getattr };
allow recovery app_data_file:sock_file { getattr };
allow recovery bluetooth_prop:file { open };
allow recovery bootchart_data_file:dir { getattr  open  read };
allow recovery ctl_interface_start_prop:property_service { set };
allow recovery default_prop:property_service { set };
allow recovery device:chr_file { ioctl  open  read };
allow recovery hwservicemanager_prop:property_service { set };
allow recovery init:dir { search };
allow recovery init:file { getattr  open  read };
allow recovery init:key { write };
allow recovery init_exec:file { getattr };
allow recovery ion_device:chr_file { open  read };
allow recovery kernel:file { read };
allow recovery keystore_data_file:dir { open  read  search };
allow recovery keystore_data_file:file { read };
allow recovery media_rw_data_file:dir { add_name  getattr  write };
allow recovery media_rw_data_file:file { create  relabelfrom  setattr  write };
allow recovery mtp_device:chr_file { open  read  write };
allow recovery rootfs:file { create };
allow recovery seapp_contexts_file:file { getattr };
allow recovery selinuxfs:file { write };
allow recovery sepolicy_file:file { getattr };
allow recovery sysfs:file { getattr  open  read };
allow recovery sysfs_vibrator:file { getattr  open  write };
allow recovery system_data_file:file { open  read };
allow recovery system_prop:property_service { set };
allow recovery system_radio_prop:property_service { set };
allow recovery unencrypted_data_file:dir { search };
allow recovery unencrypted_data_file:file { getattr  open  read };
allow recovery vndservice_contexts_file:file { getattr };
allow recovery vold_prop:property_service { set };
allow recovery wpa_data_file:dir { getattr  open  read  search };
